<h2>Esta es la pag de News</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis aspernatur exercitationem laudantium officiis ab ea saepe, a facere iusto! Laboriosam fugiat accusamus vel assumenda facilis earum laudantium quibusdam, consequatur accusantium?</p>