.homeimg{
    margin-bottom: 1.5em;
    }
    
    .columnas{
    overflow: hidden;
    }
    
    .Descripción{
    box-sizing: border-box;
    }
    
    .Descripción{
    width: 75%;
    padding-right: 2em;
    }